@{
    string css = "nav-link text-light d-inline-flex align-items-center gap-1";
}

<li class="nav-item">
    <a class="@css" asp-page="/About">
        About
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Skilling">
        Skilling
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Minigames">
        Minigames
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Items">
        Items
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Bosses">
        Bosses
    </a>
</li>