@{
    string css = "nav-link text-light d-inline-flex align-items-center gap-1";
}

<li class="nav-item">
    <a class="@css" asp-page="/About">
        <i class="bi bi-person-raised-hand"></i> About
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Skilling">
        <i class="bi bi-tools"></i> Skilling
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Minigames">
        <i class="bi bi-box-fill"></i> Minigames
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Items">
        <i class="bi bi-bucket"></i> Items
    </a>
</li>
<li class="nav-item">
    <a class="@css" asp-page="/Posts/Bosses">
        <i class="bi bi-shield-slash"></i> Bosses
    </a>
</li>